* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.display {
  display: flex;
  justify-content: space-between;
}

.player-choice {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.computer-choice {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}